/* main css file */
@font-face {
	font-family: jost;
	src: url(fonts/jost.ttf);
}

h1, h5, p, nav, a {
	font-family: jost;
}

img {
	border-radius: 8px;
}

@media only screen and (min-width: 992px) {
	body {
		background-image: url("assets/backgrounds/sea.jpg");
		background-size: cover;
		background-attachment : fixed;
	}
}

